[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torch-geometric = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
arm-mango = "*"
mlflow = "*"
nltk = "*"
gensim = "*"
spacy = "*"
transformers = "*"
jupyter = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.11"
